{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- Page Header -->
    {{ include('_header.html.twig', {'title': 'News & info', 'image': 'build/images/banner-4.png'}) }}

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-10 mx-auto">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <h1>Register</h1>

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword.first) }}
                    {{ form_row(registrationForm.plainPassword.second) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <p>
                        <button type="submit" class="btn btn-sm btn-success">Register</button>
                        <button type="reset" class="btn btn-sm btn-secondary">RReset</button>
                    </p>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
