{{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-sm btn-success">{{ button_label|default('Save') }}</button>
        <button class="btn btn-sm btn-secondary" type="reset">Reset</button>
        <a class="btn btn-sm btn-primary text-decoration-none" href="{{ path('category_index') }}">back to list</a>
    </p>
{{ form_end(form) }}
