{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/banner-4.png') }}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>PengolinCoin Blog</h1>
                        <span class="subheading">News & info</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col-lg-8 col-md-10 mx-auto">
                    <h1>Category index</h1>
                    <table class="table">
                        <tr>
                            <th width="65%">Title</th>
                            <th># posts</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>actions</th>
                                <th>Delete</th>
                            {% endif %}
                        </tr>
                        {% for category in categories %}
                            <tr>
                                <td><a class="text-decoration-none" href="{{ path('category_show', {'slug': category.slug}) }}">{{ category.title }}</a></td>
                                <td>{{ category.posts | length }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a class="btn btn-sm btn-warning" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                                    </td>
                                    <td>
                                        {{ include('category/_delete_form.html.twig') }}
                                    </td>
                                {% endif %}
                            </tr>

                        {% else %}
                            no records found
                        {% endfor %}

                    </table>
                    {% if is_granted('ROLE_ADMIN') %}
                        <p class="pt-4">
                            <a class="btn btn-sm btn-success text-decoration-none" href="{{ path('category_new') }}">Create new category</a>
                        </p>
                    {% endif %}
            </div>
        </div>

        <hr>
    </div>
{% endblock %}
