{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <!-- Page Header -->
    {{ include('_header.html.twig', {'title': 'News & info', 'image': 'img/banner-4.png'}) }}

    <div class="container pb-4">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <h1>Category {{ category.title }}</h1>

                <p>
                    Number of posts in this category: <span class="badge bg-primary py-2 px-3 text-white">{{ category.posts | length }}
                </p>

                {% for a in category.posts | reverse %}
                    <ul class="list-group mt-2">
                        <li class="list-group-item my-1">
                            <h6>
                                <a href="{{ path('post_show', { 'slug': a.slug }) }}" class="text-decoration-none text-dark">{{ a.title }}</a>
                            </h6>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
