{% extends 'base.html.twig' %}

{% block title %}Pengolincoin blog: contact{% endblock %}

{% block body %}

    <!-- Page Header -->
    {{ include('_header.html.twig', {'title': 'News & info', 'image': 'img/banner-4.png'}) }}

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ include('_flashes.html.twig') }}

                <h2>Contact the PengolinCoin team</h2>
                <p>
                    Any questions? Fill out this form and we'll get back to you ASAP!
                </p>
                {{ form_start(our_form) }}
                    <div class="row pt-4">
                        <div class="col">
                            {{ form_row(our_form.name) }}
                        </div>
                        <div class="col">
                            {{ form_row(our_form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(our_form.message) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(our_form.captcha, {'label' : 'Anti-spam', 'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success mt-3 py-2 px-3">Send message</button>
                    <button type="reset" class="btn btn-secondary mt-3 py-2 px-">Reset</button>

                {{ form_end(our_form) }}

            </div>
        </div>
        <hr>
    </div>

{% endblock %}
