{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <!-- Page Header -->
    {{ include('_header.html.twig', {'title': 'News & info', 'image': 'img/banner-4.png'}) }}

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row pb-5">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <h1>Post index</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th width="60%">Title</th>
                                <th>Created_at</th>
                                <th>Author</th>
                                <th>Views</th>
                                <th width="18%">actions</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>{{ post.title }}</td>
                                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d') : '' }}</td>
                                <td>{{ post.author }}</td>
                                <td>{{ post.views }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{{ path('post_show', {'slug': post.slug}) }}">show</a>
                                    <a class="btn btn-sm btn-warning" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                                </td>
                                <td>
                                    {{ include('post/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a class="btn btn-sm btn-success mt-4" href="{{ path('post_new') }}">Create new post</a>

                    <div class="pagination justify-content-center pt-5">
                        {{ knp_pagination_render(posts) }}
                    </div>

                {% else %}
                    <h2 class="alert alert-danger p-5 text-center">
                        <i class="fas fa-exclamation-circle fa-2x"></i><br>
                        You can't access to this page!
                    </h2>
                {% endif %}
            </div>
        </div>

        <hr>
    </div>
{% endblock %}
