{% extends 'base.html.twig' %}

{% block title %}{{ status_text }}{% endblock %}

{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/banner-4.png') }}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>PengolinCoin Blog</h1>
                        <span class="subheading">News & info</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container pb-5">
        <div class="row">
            <div class="col-sm text-center">
                <h1 class="display-1 font-weight-bold text-danger">
                    {{ status_code }}
                </h1>
                <h1 class="display-4 mb-5">{{ status_text }}</h1>
                <h3>Are you lost?</h3>
                <a class="btn btn-primary p-3 lead mt-5" href="{{ path('home') }}">
                    Back to Home
                </a>
            </div>
        </div>
    </div>
    <hr class="pt-4">

{% endblock %}
